<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS Animation Demo</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/angular-1.2.2.min.js"></script>

</head>
<body data-ng-app="slidingPanelModule">


<div class="container ng-cloak">

    <h1>AngularJS Animation Demo</h1>


    <!-- Sliding panel example. -->
    <h2 class="mainpanel-title">Example Panel</h2>

    <div class="mainpanel-body">

        <h3>Example Panel Subtitle</h3>

        <!-- Two buttons, to open sliding panel 1 or 2. -->
        <a class="mainpanel-button" data-ng-click="slidingPanels.panel=true">Click Me 1</a>

        <p>Just some random text within the main window.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>

        <hr/>

        <p>&nbsp;</p>

        <p>
            Example AngularJS Animation, following blog post: <a href="#" target="_blank">Todo: www.juurlink.org/AngularJS Animations</a>
        </p>


        <!-- Sliding panel 1. -->
        <div class="slidingpanel" data-ng-if="slidingPanels.panel">

            <div class="slidingpanel-body">
                <div class="slidingpanel-body-scroll">

                    <p><strong>Sliding Panel Content 1</strong></p>

                    <p>Content Block of Sliding Panel 1</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p>
                        <button data-ng-click="slidingPanels.panel=false">Okay</button>
                        <a class="secondary-btn" data-ng-click="slidingPanels.panel=false">Cancel</a>
                    </p>

                </div>
            </div>

            <div class="slidingpanel-background" data-ng-click="slidingPanels.panel=false" data-on-esc="slidingPanels.panel=false">
            </div>

        </div>

    </div>

</div>

<script src="js/vendor/angular-animate-1.2.2.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
